<header class="header">
  <!-- main logo  -->
  <div class="header__logo">
    <img src="/images/logo.png" alt="logo">
  </div>
  <div class="header__stocks">
    <div class="header__stocks-quoteunit stock-control">
      <!-- stock quote units: inr -->
      <div class="header__stocks-visible">
        <p><%= allQuoteUnits[0].toUpperCase() %></p>
        <i class="fa-solid fa-sort-down"></i>
      </div>
      <ul class="header__stocks-hidden">
        <% for( let quote of allQuoteUnits ) { %>
        <li><%= quote.toUpperCase() %></li>
        <% } %>
      </ul>
    </div>
    <div class="header__stocks-baseunit stock-control">
      <!-- stock base units  -->
      <div class="header__stocks-visible">
        <p><%= stockToShow[0].base_unit.toUpperCase() %></p>
        <i class="fa-solid fa-sort-down"></i>
      </div>
      <ul class="header__stocks-hidden">
        <% for( let unit of allBaseUnits.slice(0,12) ) { %>
          <li>
            <a href="/<%= unit.toUpperCase() %>-INR"><%= unit.toUpperCase() %></a>
          </li>
        <% } %>
      </ul>
    </div>
    <!-- stock buy button  -->
    <div class="header__stocks-buy">
      <a>BUY <%= stockToShow[0]?.base_unit.toUpperCase() %></a>
    </div>
  </div>
  <div class="header__styles">
    <!-- moving clock animation  -->
    <div class="header__styles-clock">

    </div>
    <!-- contact button: telegram  -->
    <div class="header__styles-connect">
      <a href="/telegram">
       <img src="images/download.png" alt="">
        Connect Telegram
      </a>
    </div>
    <!-- switch box to change dark and light mode  -->
    <div class="header__styles-mode">
      <div class="mode__switch-box">
        <div class="mode__switch-btn"></div>
      </div>
    </div>
  </div>
</header>